*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/*CSS for Header*/

header{
	height: 110vh;
	background: url(../images/dg.jpeg);
	background-size: cover;
	background-position: center;
}

/*nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;
}*/

/*Disappearing Menu CSS*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: black;
}

ul {
  position: sticky;
  top: 0;
}

.submenu{
	background-color: whitesmoke;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 60px;
	visibility:hidden;
}

#mega-menu:hover > .submenu, #about > .submenu:hover {
	visibility: visible;
}

.submenu > div {
	width: 25%;
}

div + div {
	border-left: 1px solid black;
}

.submenu > div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: darkgray;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1 {
	font-size: 70px;
}

div > h4, div > p{
	margin: 10px;
	padding: 0 10px;
}

div > p:hover {
	background-color: darkgray;
}

.submenu {
	background-color: lightgray;
	width: 80%;
	border-radius:15px;
	height: 200px;
	left: 10%;
	top: 50px;
	visibility: hidden;

}

#about: hover > .submenu, #about: hover {
	visibility: visible;
}

.submenu > div{
	width: 25%;
}

div + div{
	border-left: 1px solid black;
}

.submenu > div > h4, .submenu > div > p{
	margin: 10px;
	padding: 0 10px;
}

.submenu > div > p:hover {
	background-color: darkgray;
}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.header-text > h1 {
	font-size: 70px;
}

.header-text > h1, .header-text > p ,.header-text > button {
	margin-left: 50px;
}

.header-text > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}
/*End of CSS for Header*/

/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

/*End of Quote CSS*/

/*Start of Testimonial*/

.testimonial{
	height: 350px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;

}

.testimonial p {
	margin: 30px;

}

.testimonial img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.testimonial div {
	text-align: center;
}

.testimonial h4 {
	margin-top: 10px;
}

.testimonial hr {
	position: relative;
	top: 35px;
}

/*End of Testimonial*/